.block.follow_us {
  &.has--backgroundColor--grey {
    .social-networks {
      .item {
        a.social-network {
          &::after {
            content: '';
          }
          &:hover {
            svg.social-network.icon {
              color: var(--color-primary) !important;
            }
          }
          svg.social-network.icon {
            color: var(--color-inverse-on-surface) !important;
          }
        }
      }
    }
  }
}
