.block.listing {
  &.summary {
    .items {
      .listing-item {
        .card .card-inner {
          align-items: center;
          .image-wrapper {
            img {
              aspect-ratio: 1/1 !important;
            }
          }
          .card-summary {
            h3.title {
              color: var(--theme-foreground-color) !important;
            }
          }
        }
        &.presenter-listing {
          .card .card-inner {
            .image-wrapper {
              img {
                @include presenterImage();
              }
            }
          }
        }
      }
    }
  }
  &.grid {
    .card-container.session {
      @include cardContainerSessionGrid();
    }
    .presenterTile {
      .presenterImage {
        @include presenterImage();
      }
    }
  }
}
