body #main {
  .breadcrumbs {
    padding: 10px 0;
    @media only screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
    .breadcrumb {
      max-width: var(--default-container-width);
      margin-right: 5px;
      margin-left: 5px;
      text-transform: uppercase;
      .section {
        @include add(size, s);
      }

      a {
        text-decoration: none;
        &.section {
          color: var(--breadcrumbs-foreground);
        }
        &:hover {
          text-decoration: underline;
        }
      }

      .divider {
        transform: unset;
        &::before {
          content: '>';
          font-size: 20px;
        }
      }
    }
    a.home {
      svg.icon {
        fill: var(--breadcrumbs-foreground) !important;
      }
    }
  }
}
