#main {
  .breadcrumbs {
    padding: 10px 0;
    background-color: var(--color-surface-container-high);
    @media only screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
    .breadcrumb {
      max-width: var(--default-container-width);
      margin-right: 5px;
      margin-left: 5px;
      color: var(--color-on-primary-container) !important;
      text-transform: uppercase;

      a {
        color: var(--color-on-primary-container) !important;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .divider::before {
        color: var(--color-on-primary-container);
        content: '▲';
        font-size: 12px;
      }
    }
  }
}
