.blocks-form {
  .block .block.selected {
    &::before {
      border-color: var(--primary-foreground-color);
    }
  }
  .drag.handle.wrapper {
    color: var(--primary-foreground-color);
    &:hover {
      background-color: var(--primary-foreground-color);
      color: var(--secondary-color);
    }
  }
}
