footer#footer {
  --social-network-icon-color-main: var(--secondary-foreground-color);
  padding-top: 1rem;
  margin-top: 0;
  .footer.main {
    max-width: 100% !important;
    background-color: var(--secondary-color);
    color: var(--secondary-foreground-color) !important;
    > .container {
      padding: $spacing-small;
    }
    .links {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        margin: 0;
        list-style: none;
        li.item {
          padding: 0 1em;
          border-left: 1px solid var(--secondary-foreground-color);
          margin: 0.25em 0;
          text-align: center;
          &:first-child {
            border-left: unset;
          }
          a {
            color: var(--secondary-foreground-color) !important;
            &:hover {
              color: var(--primary-color) !important;
            }
          }
        }
      }
    }
    .footer_follow_us {
      --block-alignment: center !important;
    }
  }
  .post-footer {
    padding: $spacing-small $spacing-medium;
    background-color: var(--background-color);
    .branding {
      padding: 0 $spacing-small;
      color: var(--text-color) !important;
      .plonegovbr {
        color: var(--text-color) !important;
        &:hover {
          color: var(--primary-color) !important;
        }
      }
    }
  }
}
