// Header wrapper
body header.header-wrapper {
  max-width: 100%;
  margin-top: $spacing-small;
  .header.layout {
    .search-wrapper {
      .search {
        .search-bar {
          top: -180px;
          left: 0;
          background-color: var(--secondary-color);
          &.active {
            top: -45px;
            height: 209px;
          }
        }
      }
    }
    .logo {
      display: flex;
      max-width: unset;
      max-height: unset;
      justify-content: center;
      a {
        line-height: 0px;
        img {
          height: 140px;
        }
      }
    }
    .logo-nav-wrapper {
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }
    // Mobile Navigation
    .mobile-nav {
      div.menu-drawer {
        .search-header {
          display: none;
        }
      }
      .hamburger:before,
      .hamburger::after,
      .hamburger-inner:after,
      .hamburger-inner::before {
        background-color: var(--primary-color);
      }
    }
  }
}

body.is-unauthorized {
  .header-wrapper {
    .header.layout {
      .search-wrapper {
        display: none !important;
      }
    }
  }
}
