.navigation {
  .item {
    @include graffiti();
    @include add(size, xl);
    @include add(height, xl);
    color: var(--primary-color);
    text-transform: uppercase !important;
    &.active,
    &:hover {
      color: var(--primary-color);
      &::before {
        bottom: -42px;
        border-bottom: 4px solid var(--primary-color);
      }
    }
  }

  ul.desktop-menu .submenu-wrapper {
    margin-top: 34px;
    .submenu {
      &.active {
        border-top: 1px solid var(--primary-color);
      }
    }
  }
}
