.presenter-labels {
  .presenterCategoryWrapper {
    --techevent-presenter-category-background-color: var(--primary-color);
    .icon.presenterCategory {
      &.keynote-speaker {
        --techevent-presenter-category-background-color: var(
          --primary-foreground-color
        );
      }
      &.instructor {
        --techevent-presenter-category-background-color: var(--secondary-color);
      }
      &.speaker {
        --techevent-presenter-category-background-color: var(--secondary-color);
      }
    }
  }
}
