.presenter-view {
  .card.profile {
    .card-inner {
      flex-direction: row-reverse;
      align-items: center;
      gap: $spacing-medium;
      .image-wrapper {
        img {
          @include presenterImage();
        }
      }
      .presenterDescription {
        .documentDescription {
          padding: $spacing-small 0;
          border: unset;
          color: var(--text-color);
        }
      }
    }
  }
}
