body {
  background-color: var(--background-color);
  background-image: url('./static/conexao.svg');
  background-position: top right;
  background-repeat: repeat-x;
  background-size: 400px;
  &.view-contentsview {
    background: var(--primary-foreground-color);
    #content {
      padding-top: $spacing-small;
    }
  }
}
.content-area {
  .q.container {
    a.external::after {
      display: none;
    }
  }
}
