body {
  background-color: var(--background-color);
  background-image: url('./static/conexao.svg');
  background-position: top right;
  background-repeat: repeat-x;
  background-size: 400px;
  &.view-contentsview {
    background: #fff;
    #content {
      padding-top: $spacing-small;
    }
  }
  #page-document {
    background-color: unset;
  }
  #page-add,
  #page-edit {
    .form.ui {
      margin-bottom: $spacing-small;
      background-color: #fff;
    }
  }
}
.content-area {
  .q.container {
    a.external::after {
      display: none;
    }
  }
}
